In [1]:
import pandas as pd
shop_info = pd.read_csv("../../data//dataset/shop_info.txt",header=None)

/Users/yuyin/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [4]:
shop_info.head()

,shop_id,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
1,2,哈尔滨,64,19,NaN,NaN,1,超市便利店,超市,NaN
2,3,南昌,774,5,3.0,2.0,0,美食,休闲茶饮,奶茶
3,4,天津,380,18,NaN,NaN,1,超市便利店,超市,NaN
4,5,杭州,263,2,2.0,2.0,0,美食,休闲食品,生鲜水果

In [3]:
shop_info.columns=['shop_id','city_name','location_id','per_pay','score','comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name']

In [5]:
user_view = pd.read_csv("../../data//dataset/feature/商家每天浏览的浏览次数.txt",header=None)

In [11]:
user_view.head()

   shop_id  year  mouth  day  view_count
0     1197  2016     10   30          19
1      404  2016     10    6          54
2     1871  2016      7   14          58
3      186  2016      8   29          30
4     1061  2016     10   10          47

In [10]:
user_view.columns=['shop_id','year','mouth','day','view_count']

In [9]:
user_pay = pd.read_csv("../../data//dataset/feature/商家每天支付的支付次数.txt",header=None)
user_pay.columns=['shop_id','year','mouth','day','pay_count']

In [12]:
user_pay.head()

   shop_id  year  mouth  day  pay_count
0     1862  2015     11   25         36
1     1862  2016      7    4         71
2     1862  2016      1   26         23
3     1097  2015      8    6         83
4     1097  2016      3   22         34

In [13]:
user_pay2 = pd.read_csv("../../data//dataset/feature/商家每天浏览的用户人数.txt",header=None)
user_pay2.columns=['shop_id','year','mouth','day','pay_user_count']

In [16]:
user_pay2.head()

   shop_id  year  mouth  day  pay_user_count
0     1110  2016      8   19             156
1     1894  2016      6    6              90
2     1780  2016      5   31              59
3       65  2016      7   16             544
4      650  2016      8   11             566

In [15]:
user_pay2 = pd.read_csv("../../data//dataset/feature/商家每天支付的用户个数.txt",header=None)
user_pay2.columns=['shop_id','year','mouth','day','pay_user_count']
user_view = pd.read_csv("../../data//dataset/feature/商家每天浏览的浏览次数.txt",header=None)
user_view.columns=['shop_id','year','mouth','day','view_count']
user_view2 = pd.read_csv("../../data//dataset/feature/商家每天浏览的用户人数.txt",header=None)
user_view2.columns=['shop_id','year','mouth','day','view_count']

In [20]:
user_pay.shape

(599275, 5)

In [18]:
user_pay_all = pd.merge(user_pay,user_pay2,on=['shop_id','year','mouth','day'],how='left')

In [21]:
user_pay_all.shape

(599275, 6)

In [24]:
user_view2 = pd.read_csv("../../data//dataset/feature/商家每天浏览的用户人数.txt",header=None)
user_view2.columns=['shop_id','year','mouth','day','view_user_count']
user_view_all= pd.merge(user_view,user_view2,on=['shop_id','year','mouth','day'],how='left')

In [25]:
user_view_all.head()

   shop_id  year  mouth  day  view_count  view_user_count
0     1197  2016     10   30          19            130.0
1      404  2016     10    6          54            179.0
2     1871  2016      7   14          58             47.0
3      186  2016      8   29          30            183.0
4     1061  2016     10   10          47            119.0

In [26]:
user_view.shape

(233494, 5)

In [27]:
user_view2.shape

(599275, 5)

In [36]:
user_view_all.shape

(233494, 6)

In [34]:
user_view2.shape

(233494, 5)

In [33]:
user_view2 = pd.read_csv("../../data//dataset/feature/商家每天浏览的用户人数.txt",header=None)
user_view2.columns=['shop_id','year','mouth','day','view_user_count']

In [35]:
user_view_all= pd.merge(user_view,user_view2,on=['shop_id','year','mouth','day'],how='left')

In [45]:
user_pay_all.shape[0]

599275

In [38]:
del user_pay
del user_pay2
del user_view
del user_view2

In [46]:
for i in xrange(user_pay_all.shape[0]):
    tmp=[]
    tmp.append(user_pay_all["year"][i]+user_pay_all["mouth"][i]+user_pay_all["day"][i])

user_pay_all=pd.concat([user_pay_all,pd.DataFrame({'time':tmp})],axis=1)

In [48]:
i=1

In [49]:
user_pay_all["year"][i]

2016

In [51]:
user_pay_all["mouth"][i]

7

In [52]:
user_pay_all["day"][i]

4

In [53]:
user_pay_all.head()

   shop_id  year  mouth  day  pay_count  pay_user_count    time
0     1862  2015     11   25         36              33  2053.0
1     1862  2016      7    4         71              69     NaN
2     1862  2016      1   26         23              22     NaN
3     1097  2015      8    6         83              82     NaN
4     1097  2016      3   22         34              31     NaN

In [2]:
import pandas as pd
shop_info = pd.read_csv("../../data//dataset/shop_info.txt",header=None)
shop_info.columns=['shop_id','city_name','location_id','per_pay','score','comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name']
user_pay = pd.read_csv("../../data//dataset/feature/商家每天支付的支付次数.txt",header=None)
user_pay.columns=['shop_id','time','year','mouth','day','pay_count']
user_pay2 = pd.read_csv("../../data//dataset/feature/商家每天支付的用户个数.txt",header=None)
user_pay2.columns=['shop_id','time','year','mouth','day','pay_user_count']
user_view = pd.read_csv("../../data//dataset/feature/商家每天浏览的浏览次数.txt",header=None)
user_view.columns=['shop_id','time','year','mouth','day','view_count']
user_view2 = pd.read_csv("../../data//dataset/feature/商家每天浏览的用户人数.txt",header=None)
user_view2.columns=['shop_id','time','year','mouth','day','view_user_count']
#合并数据源
user_pay_all = pd.merge(user_pay,user_pay2,on=['shop_id','time','year','mouth','day'],how='left')
user_view_all= pd.merge(user_view,user_view2,on=['shop_id','time','year','mouth','day'],how='left')

/Users/yuyin/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [7]:
user_view.shape

(233494, 6)

In [8]:
user_view.shape

(233494, 6)

In [9]:
user_view2.shape

(233494, 6)

In [10]:
user_view_all.head()

   shop_id      time  year  mouth  day  view_count  view_user_count
0     1197  20161029  2016     10   29          15               10
1      404  20160828  2016      8   28         106               86
2     1871  20160729  2016      7   29          18               17
3     1061  20160826  2016      8   26         110               81
4      557  20160904  2016      9    4          26               25

In [11]:
del user_pay
del user_pay2
del user_view
del user_view2

In [12]:
user_pay_all.to_csv("../../data//dataset/feature/user_pay_all.csv",header=False,index=False)
user_view_all.to_csv("../../data//dataset/feature/user_view_all.csv",header=False,index=False)

In [13]:
shop_info.head()

,shop_id,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
1,2,哈尔滨,64,19,NaN,NaN,1,超市便利店,超市,NaN
2,3,南昌,774,5,3.0,2.0,0,美食,休闲茶饮,奶茶
3,4,天津,380,18,NaN,NaN,1,超市便利店,超市,NaN
4,5,杭州,263,2,2.0,2.0,0,美食,休闲食品,生鲜水果

In [18]:
user_view_all.head()

   shop_id      time  year  mouth  day  view_count  view_user_count
0     1197  20161029  2016     10   29          15               10
1      404  20160828  2016      8   28         106               86
2     1871  20160729  2016      7   29          18               17
3     1061  20160826  2016      8   26         110               81
4      557  20160904  2016      9    4          26               25

In [17]:
user_view_all.shape

(233494, 7)

In [19]:
train_view = pd.merge(user_view_all,shop_info,on=['shop_id'],how='left')

In [20]:
train_view.head()

,shop_id,time,year,mouth,day,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1197,20161029,2016,10,29,15,10,北京,1096,10,3.0,10.0,2,美食,快餐,西式快餐
1,404,20160828,2016,8,28,106,86,上海,191,13,3.0,7.0,2,美食,快餐,西式快餐
2,1871,20160729,2016,7,29,18,17,济宁,989,13,3.0,4.0,2,美食,快餐,西式快餐
3,1061,20160826,2016,8,26,110,81,广州,541,11,2.0,12.0,2,美食,快餐,西式快餐
4,557,20160904,2016,9,4,26,25,广州,57,7,3.0,15.0,0,美食,快餐,中式快餐

In [21]:
train_view.shape

(233494, 16)

In [22]:
train_view.head(20)

,shop_id,time,year,mouth,day,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1197,20161029,2016,10,29,15,10,北京,1096,10,3.0,10.0,2,美食,快餐,西式快餐
1,404,20160828,2016,8,28,106,86,上海,191,13,3.0,7.0,2,美食,快餐,西式快餐
2,1871,20160729,2016,7,29,18,17,济宁,989,13,3.0,4.0,2,美食,快餐,西式快餐
3,1061,20160826,2016,8,26,110,81,广州,541,11,2.0,12.0,2,美食,快餐,西式快餐
4,557,20160904,2016,9,4,26,25,广州,57,7,3.0,15.0,0,美食,快餐,中式快餐
5,1086,20160920,2016,9,20,1,1,北京,322,12,3.0,3.0,0,美食,休闲食品,生鲜水果
6,1293,20160919,2016,9,19,9,9,杭州,264,9,3.0,4.0,2,美食,烘焙糕点,蛋糕
7,1322,20160810,2016,8,10,167,120,杭州,1093,20,4.0,8.0,2,美食,火锅,川味/重庆火锅
8,1309,20160927,2016,9,27,12,11,上海,554,9,2.0,5.0,1,美食,烘焙糕点,蛋糕
9,1860,20160717,2016,7,17,23,22,上海,697,5,3.0,3.0,2,美食,休闲茶饮,奶茶
10,1540,20160821,2016,8,21,52,42,扬州,1153,11,2.0,11.0,2,美食,快餐,西式快餐
11,726,20160926,2016,9,26,7,6,天津,992,9,4.0,6.0,2,美食,烘焙糕点,蛋糕
12,607,20160730,2016,7,30,4,4,杭州,835,10,2.0,2.0,0,美食,休闲食品,生鲜水果
13,60,20161011,2016,10,11,28,25,成都,730,8,3.0,5.0,2,美食,烘焙糕点,面包
14,760,20160720,2016,7,20,6,6,武汉,259,1,3.0,4.0,0,美食,休闲茶饮,饮品/甜点
15,521,20160629,2016,6,29,5,5,上海,478,13,1.0,3.0,2,美食,快餐,西式快餐
16,1578,20160715,2016,7,15,2,2,郑州,1151,1,1.0,0.0,0,美食,中餐,其它地方菜
17,686,20161023,2016,10,23,11,10,上海,519,9,3.0,5.0,2,美食,休闲茶饮,饮品/甜点
18,1600,20160715,2016,7,15,1,1,广州,552,16,1.0,2.0,0,美食,快餐,中式快餐
19,1764,20160803,2016,8,3,3,3,北京,113,4,3.0,0.0,0,超市便利店,便利店,NaN

In [24]:
train_pay = pd.merge(user_pay_all,shop_info,on=['shop_id'],how='left')

In [25]:
train_pay.head(10)

,shop_id,time,year,mouth,day,pay_count,pay_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
1,1862,20151027,2015,10,27,4,4,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
2,1097,20151209,2015,12,9,19,18,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
3,1097,20160325,2016,3,25,36,34,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
4,1912,20151022,2015,10,22,87,82,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐
5,1912,20160914,2016,9,14,176,169,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐
6,1912,20160307,2016,3,7,129,116,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐
7,90,20160708,2016,7,8,226,222,上海,507,15,3.0,6.0,2,美食,烘焙糕点,面包
8,90,20151230,2015,12,30,146,144,上海,507,15,3.0,6.0,2,美食,烘焙糕点,面包
9,90,20160101,2016,1,1,175,173,上海,507,15,3.0,6.0,2,美食,烘焙糕点,面包

In [26]:
train_all =pd.merge(user_pay_all,train_view,on=['shop_id','time','year','mouth','day'],how='left')

In [27]:
train_all.head(10)

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1862,20151027,2015,10,27,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1097,20151209,2015,12,9,19,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1097,20160325,2016,3,25,36,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1912,20151022,2015,10,22,87,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1912,20160914,2016,9,14,176,169,6.0,6.0,无锡,115.0,12.0,3.0,9.0,2.0,美食,快餐,西式快餐
6,1912,20160307,2016,3,7,129,116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,90,20160708,2016,7,8,226,222,17.0,16.0,上海,507.0,15.0,3.0,6.0,2.0,美食,烘焙糕点,面包
8,90,20151230,2015,12,30,146,144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,90,20160101,2016,1,1,175,173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
train_all =pd.merge(user_pay_all,user_view_all,on=['shop_id','time','year','mouth','day'],how='left')

train_all_2=pd.merge(train_all,shop_info,on=['shop_id'],how='left')

In [32]:
train_all_2.head(10)

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,NaN,NaN,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
1,1862,20151027,2015,10,27,4,4,NaN,NaN,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
2,1097,20151209,2015,12,9,19,18,NaN,NaN,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
3,1097,20160325,2016,3,25,36,34,NaN,NaN,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
4,1912,20151022,2015,10,22,87,82,NaN,NaN,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐
5,1912,20160914,2016,9,14,176,169,6.0,6.0,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐
6,1912,20160307,2016,3,7,129,116,NaN,NaN,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐
7,90,20160708,2016,7,8,226,222,17.0,16.0,上海,507,15,3.0,6.0,2,美食,烘焙糕点,面包
8,90,20151230,2015,12,30,146,144,NaN,NaN,上海,507,15,3.0,6.0,2,美食,烘焙糕点,面包
9,90,20160101,2016,1,1,175,173,NaN,NaN,上海,507,15,3.0,6.0,2,美食,烘焙糕点,面包

In [36]:
train_all_2[pd.isnull(train_all_2["view_count"])].head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,NaN,NaN,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
1,1862,20151027,2015,10,27,4,4,NaN,NaN,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
2,1097,20151209,2015,12,9,19,18,NaN,NaN,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
3,1097,20160325,2016,3,25,36,34,NaN,NaN,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
4,1912,20151022,2015,10,22,87,82,NaN,NaN,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐

In [40]:
train_all_2["view_user_count"]=train_all_2["view_user_count"].fillna(0)  #填充缺失值

In [73]:
train_all_2[pd.isnull(train_all_2["cate_3_name"])].head()

Empty DataFrame
Columns: [shop_id, time, year, mouth, day, pay_count, pay_user_count, view_count, view_user_count, city_name, location_id, per_pay, score, comment_cnt, shop_level, cate_1_name, cate_2_name, cate_3_name]
Index: []

In [57]:
train_all_2[pd.isnull(train_all_2["score"])]["score"].head()

Series([], Name: score, dtype: float64)

In [51]:
train_all_2[-pd.isnull(train_all_2["score"])]["score"].mean()

2.7229276625889898

In [53]:
round(train_all_2[-pd.isnull(train_all_2["score"])]["score"].mean(),1)

2.7

In [54]:
tmp=round(train_all_2[-pd.isnull(train_all_2["score"])]["score"].mean(),1)

In [55]:
tmp

2.7

In [56]:
train_all_2["score"]=train_all_2["score"].fillna(tmp)

In [60]:
tmp=round(train_all_2[-pd.isnull(train_all_2["comment_cnt"])]["comment_cnt"].mean(),1)

In [61]:
tmp

3.8

In [62]:
train_all_2["comment_cnt"]=train_all_2["comment_cnt"].fillna(tmp)

In [67]:
tmp="缺失"

In [68]:
tmp

'\xe7\xbc\xba\xe5\xa4\xb1'

In [71]:
print tmp

缺失

In [75]:
train_all_2.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,0.0,0.0,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
1,1862,20151027,2015,10,27,4,4,0.0,0.0,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
2,1097,20151209,2015,12,9,19,18,0.0,0.0,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
3,1097,20160325,2016,3,25,36,34,0.0,0.0,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
4,1912,20151022,2015,10,22,87,82,0.0,0.0,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐

In [76]:
train_all_2.to_csv("../../data//dataset/feature/train_all.txt",header=False,index=False)

In [77]:
shop_info = pd.read_csv("../../data//dataset/shop_info.txt",header=None)
shop_info.columns=['shop_id','city_name','location_id','per_pay','score','comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name']
user_pay = pd.read_csv("../../data//dataset/feature/商家每天支付的支付次数.txt",header=None)
user_pay.columns=['shop_id','time','year','mouth','day','pay_count']
user_pay2 = pd.read_csv("../../data//dataset/feature/商家每天支付的用户个数.txt",header=None)
user_pay2.columns=['shop_id','time','year','mouth','day','pay_user_count']
user_view = pd.read_csv("../../data//dataset/feature/商家每天浏览的浏览次数.txt",header=None)
user_view.columns=['shop_id','time','year','mouth','day','view_count']
user_view2 = pd.read_csv("../../data//dataset/feature/商家每天浏览的用户人数.txt",header=None)
user_view2.columns=['shop_id','time','year','mouth','day','view_user_count']
#合并数据源
user_pay_all = pd.merge(user_pay,user_pay2,on=['shop_id','time','year','mouth','day'],how='left')
user_view_all= pd.merge(user_view,user_view2,on=['shop_id','time','year','mouth','day'],how='left')

In [78]:
del user_pay
del user_pay2
del user_view
del user_view2
#输出中间结果
# user_pay_all.to_csv("../../data//dataset/feature/user_pay_all.csv",header=False,index=False)
# user_view_all.to_csv("../../data//dataset/feature/user_view_all.csv",header=False,index=False)


##继续合并
train_view = pd.merge(user_view_all,shop_info,on=['shop_id'],how='left')
train_pay = pd.merge(user_pay_all,shop_info,on=['shop_id'],how='left')

train_all =pd.merge(user_pay_all,user_view_all,on=['shop_id','time','year','mouth','day'],how='left')
train_all_2=pd.merge(train_all,shop_info,on=['shop_id'],how='left')

In [79]:
train_all_2.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,NaN,NaN,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
1,1862,20151027,2015,10,27,4,4,NaN,NaN,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
2,1097,20151209,2015,12,9,19,18,NaN,NaN,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
3,1097,20160325,2016,3,25,36,34,NaN,NaN,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
4,1912,20151022,2015,10,22,87,82,NaN,NaN,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐

In [80]:
train_all_2.to_csv("../../data//dataset/feature/train_all_null.txt",header=False,index=False)

In [81]:
train_all_2.columns

Index([u'shop_id', u'time', u'year', u'mouth', u'day', u'pay_count',
       u'pay_user_count', u'view_count', u'view_user_count', u'city_name',
       u'location_id', u'per_pay', u'score', u'comment_cnt', u'shop_level',
       u'cate_1_name', u'cate_2_name', u'cate_3_name'],
      dtype='object')

In [82]:
train_all = pd.read_csv("../../data//dataset/feature/train_all.txt",header=None)
train_all.columns=['shop_id','time','year','mouth','day','pay_count','pay_user_count','view_count','view_user_count','city_name','location_id','per_pay','score','comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name']

In [83]:
train_all.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,0.0,0.0,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
1,1862,20151027,2015,10,27,4,4,0.0,0.0,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
2,1097,20151209,2015,12,9,19,18,0.0,0.0,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
3,1097,20160325,2016,3,25,36,34,0.0,0.0,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
4,1912,20151022,2015,10,22,87,82,0.0,0.0,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐

In [84]:
x=train_all["city_name"][0:10]

In [85]:
x

0    上海
1    上海
2    东营
3    东营
4    无锡
5    无锡
6    无锡
7    上海
8    上海
9    上海
Name: city_name, dtype: object

In [87]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [88]:
le.fit(x)

LabelEncoder()

In [90]:
print list(le.classes_)

['\xe4\xb8\x8a\xe6\xb5\xb7', '\xe4\xb8\x9c\xe8\x90\xa5', '\xe6\x97\xa0\xe9\x94\xa1']

In [91]:
# -*- coding: utf-8 -*-

In [95]:
for i in le.classes_:
    print i

上海
东营
无锡

In [97]:
le.transform(x)

array([0, 0, 1, 1, 2, 2, 2, 0, 0, 0])

In [98]:
list(le.inverse_transform([0, 2, 1]))

['\xe4\xb8\x8a\xe6\xb5\xb7',
 '\xe6\x97\xa0\xe9\x94\xa1',
 '\xe4\xb8\x9c\xe8\x90\xa5']

In [101]:
for i in list(le.inverse_transform([0, 2, 1])):
    print i

上海
无锡
东营

In [102]:
tmp=train_all["city_name"]
le = preprocessing.LabelEncoder()
#将类别转变成编码类型
le.fit(tmp)
#list(le.classes_)
# for i in le.classes_:
#     print i
#将类别序列转变为编码
tmp=le.transform(tmp)

In [105]:
max(tmp)

121

In [106]:
tmp=train_all["city_name"]
le = preprocessing.LabelEncoder()
#将类别转变成编码类型
le.fit(tmp)
#list(le.classes_)
# for i in le.classes_:
#     print i
#将类别序列转变为编码
tmp=le.transform(tmp)

In [107]:
train_all['city_name']=tmp

In [108]:
train_all.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,0.0,0.0,2,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
1,1862,20151027,2015,10,27,4,4,0.0,0.0,2,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
2,1097,20151209,2015,12,9,19,18,0.0,0.0,5,477,14,2.0,4.0,2,美食,快餐,西式快餐
3,1097,20160325,2016,3,25,36,34,0.0,0.0,5,477,14,2.0,4.0,2,美食,快餐,西式快餐
4,1912,20151022,2015,10,22,87,82,0.0,0.0,50,115,12,3.0,9.0,2,美食,快餐,西式快餐

In [109]:
tmp=train_all["cate_1_name"]
le = preprocessing.LabelEncoder()
le.fit(tmp)
tmp=le.transform(tmp)
train_all['cate_1_name']=tmp

tmp=train_all["cate_2_name"]
le = preprocessing.LabelEncoder()
le.fit(tmp)
tmp=le.transform(tmp)
train_all['cate_2_name']=tmp

tmp=train_all["cate_3_name"]
le = preprocessing.LabelEncoder()
le.fit(tmp)
tmp=le.transform(tmp)
train_all['cate_3_name']=tmp

In [110]:
train_all.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,0.0,0.0,2,937,9,3.0,2.0,1,3,2,12
1,1862,20151027,2015,10,27,4,4,0.0,0.0,2,937,9,3.0,2.0,1,3,2,12
2,1097,20151209,2015,12,9,19,18,0.0,0.0,5,477,14,2.0,4.0,2,3,7,35
3,1097,20160325,2016,3,25,36,34,0.0,0.0,5,477,14,2.0,4.0,2,3,7,35
4,1912,20151022,2015,10,22,87,82,0.0,0.0,50,115,12,3.0,9.0,2,3,7,35

In [111]:
x

0    上海
1    上海
2    东营
3    东营
4    无锡
5    无锡
6    无锡
7    上海
8    上海
9    上海
Name: city_name, dtype: object

In [112]:
le.fit(x)

LabelEncoder()

In [113]:
tmp=le.transform(x)

In [114]:
tmp

array([0, 0, 1, 1, 2, 2, 2, 0, 0, 0])

In [115]:
from sklearn.preprocessing import OneHotEncoder

In [136]:
enc = OneHotEncoder()

In [137]:
enc.fit([[1, 0, 2], [1, 0, 2]])

OneHotEncoder(categorical_features='all', dtype=<type 'numpy.float64'>,
       handle_unknown='error', n_values='auto', sparse=True)

In [138]:
enc.n_values_

array([2, 1, 3])

In [139]:
enc.feature_indices_

array([0, 2, 3, 6])

In [146]:
y=enc.transform([1, 0, 2]).toarray()

/Users/yuyin/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

In [147]:
for i in y :
    print i

[ 1.  1.  1.]

In [126]:
len(y)

1

In [127]:
tmp=[]

In [130]:
tmp.append(2)

In [131]:
tmp

[1, 0, 2]

In [132]:
tt=[]

In [133]:
tt.append(tmp)

In [134]:
tt.append(tmp)

In [135]:
tt

[[1, 0, 2], [1, 0, 2]]

In [148]:
train_all.shape[0]

599275

In [153]:
onehot=[]
for i in xrange(train_all.shape[0]) :
  tmp=[]
  tmp.append(train_all["cate_1_name"][i])
  tmp.append(train_all["cate_2_name"][i])
  tmp.append(train_all["cate_3_name"][i])
  onehot.append(tmp)

In [154]:
onehot[0:3]

[[3, 2, 12], [3, 2, 12], [3, 7, 35]]

In [156]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit(onehot)
onehot_feature=enc.transform(onehot).toarray()

In [157]:
onehot_feature[0:3]

array([[ 0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.]])

In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import scale

In [3]:
from sklearn.datasets import load_digits

In [4]:
digits = load_digits()
data = scale(digits.data)

In [6]:
digits.data

array([[  0.,   0.,   5., ...,   0.,   0.,   0.],
       [  0.,   0.,   0., ...,  10.,   0.,   0.],
       [  0.,   0.,   0., ...,  16.,   9.,   0.],
       ...,
       [  0.,   0.,   1., ...,   6.,   0.,   0.],
       [  0.,   0.,   2., ...,  12.,   0.,   0.],
       [  0.,   0.,  10., ...,  12.,   1.,   0.]])

In [7]:
data

array([[ 0.        , -0.33501649, -0.04308102, ..., -1.14664746,
        -0.5056698 , -0.19600752],
       [ 0.        , -0.33501649, -1.09493684, ...,  0.54856067,
        -0.5056698 , -0.19600752],
       [ 0.        , -0.33501649, -1.09493684, ...,  1.56568555,
         1.6951369 , -0.19600752],
       ...,
       [ 0.        , -0.33501649, -0.88456568, ..., -0.12952258,
        -0.5056698 , -0.19600752],
       [ 0.        , -0.33501649, -0.67419451, ...,  0.8876023 ,
        -0.5056698 , -0.19600752],
       [ 0.        , -0.33501649,  1.00877481, ...,  0.8876023 ,
        -0.26113572, -0.19600752]])

In [17]:
x=np.array(([1,3,4],[1,1,1]))

In [19]:
scale(x)

array([[ 0.,  1.,  1.],
       [ 0., -1., -1.]])

In [20]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
min_max_scaler.fit_transform(x)

array([[ 0.,  1.,  1.],
       [ 0.,  0.,  0.]])

In [18]:
x

array([[1, 3, 4],
       [1, 1, 1]])

In [21]:
np.sum(x,axis=0)

array([2, 4, 5])

In [23]:
import sklearn

In [25]:
X = [[ 1, -1, 2],[ 2, 0, 0], [ 0, 1, -1]]
sklearn.preprocessing.normalize(X, norm='l2')
# array([[ 0.40, -0.40, 0.81], [ 1, 0, 0], [ 0, 0.70, -0.70]])

array([[ 0.40824829, -0.40824829,  0.81649658],
       [ 1.        ,  0.        ,  0.        ],
       [ 0.        ,  0.70710678, -0.70710678]])

In [33]:
X = [1,2,0.5,0.1,4,5]

In [34]:
X

[1, 2, 0.5, 0.1, 4, 5]

In [35]:
binarizer = sklearn.preprocessing.Binarizer(threshold=2.1)

In [36]:
binarizer.transform(X)

/Users/yuyin/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([[ 0.,  0.,  0.,  0.,  1.,  1.]])

In [37]:
from sklearn.preprocessing import label_binarize

In [41]:
label_binarize([1, 6], classes=[1, 2, 4, 6])

array([[1, 0, 0, 0],
       [0, 0, 0, 1]])

In [42]:
tmp=['A','A','b','c']

In [44]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(tmp)
le.transform(tmp)

array([0, 0, 1, 2])

In [45]:
import pandas as pd
from sklearn import preprocessing

# train_all = pd.read_csv("../../data//dataset/feature/train_all_null.txt",header=None)
train_all = pd.read_csv("../../data//dataset/feature/train_all.txt",header=None)
train_all.columns=['shop_id','time','year','mouth','day','pay_count','pay_user_count','view_count','view_user_count','city_name','location_id','per_pay','score','comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name']

/Users/yuyin/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [46]:
train_all.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,0.0,0.0,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
1,1862,20151027,2015,10,27,4,4,0.0,0.0,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
2,1097,20151209,2015,12,9,19,18,0.0,0.0,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
3,1097,20160325,2016,3,25,36,34,0.0,0.0,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
4,1912,20151022,2015,10,22,87,82,0.0,0.0,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐

In [47]:
tmp=train_all["city_name"]
le = preprocessing.LabelEncoder()
#将类别转变成编码类型
le.fit(tmp)
#list(le.classes_)
# for i in le.classes_:
#     print i
#将类别序列转变为编码
tmp=le.transform(tmp)
# list(le.inverse_transform([0, 2, 1]))
train_all['city_name']=tmp

tmp=train_all["cate_1_name"]
le.fit(tmp)
tmp=le.transform(tmp)
train_all['cate_1_name']=tmp

tmp=train_all["cate_2_name"]
le.fit(tmp)
tmp=le.transform(tmp)
train_all['cate_2_name']=tmp

tmp=train_all["cate_3_name"]
le.fit(tmp)
tmp=le.transform(tmp)
train_all['cate_3_name']=tmp

In [48]:
train_all.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,0.0,0.0,2,937,9,3.0,2.0,1,3,2,12
1,1862,20151027,2015,10,27,4,4,0.0,0.0,2,937,9,3.0,2.0,1,3,2,12
2,1097,20151209,2015,12,9,19,18,0.0,0.0,5,477,14,2.0,4.0,2,3,7,35
3,1097,20160325,2016,3,25,36,34,0.0,0.0,5,477,14,2.0,4.0,2,3,7,35
4,1912,20151022,2015,10,22,87,82,0.0,0.0,50,115,12,3.0,9.0,2,3,7,35

In [49]:
import datetime
datetime.datetime.now().isocalendar()

(2017, 3, 1)

In [52]:
datetime.date(2017, 1, 16).isocalendar()

(2017, 3, 1)

In [64]:
str(list(datetime.date(2017, 1, 16).isocalendar())[0])+str(list(datetime.date(2017, 1, 16).isocalendar())[1])

'20173'

In [66]:
tmp=[]
for i in xrange(train_all.shape[0]) :
    week_year=list(datetime.date(train_all['year'][i], train_all['mouth'][i], train_all['day'][i]).isocalendar())
    tmp.append(str(week_year[0])+str(week_year[1]))

In [68]:
week_of_year=pd.DataFrame({'week_of_year':tmp})
week_of_year.head()

  week_of_year
0       201618
1       201544
2       201550
3       201612
4       201543

In [69]:
week_of_year=pd.DataFrame({'week_of_year':tmp})
train_all=pd.concat([train_all,week_of_year],axis=1)

In [70]:
train_all.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name,week_of_year
0,1862,20160505,2016,5,5,61,60,0.0,0.0,2,937,9,3.0,2.0,1,3,2,12,201618
1,1862,20151027,2015,10,27,4,4,0.0,0.0,2,937,9,3.0,2.0,1,3,2,12,201544
2,1097,20151209,2015,12,9,19,18,0.0,0.0,5,477,14,2.0,4.0,2,3,7,35,201550
3,1097,20160325,2016,3,25,36,34,0.0,0.0,5,477,14,2.0,4.0,2,3,7,35,201612
4,1912,20151022,2015,10,22,87,82,0.0,0.0,50,115,12,3.0,9.0,2,3,7,35,201543

In [76]:
tmp=train_all[(train_all["shop_id"]==1862)].reset_index()

In [77]:
tmp.head()

,index,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name,week_of_year
0,0,1862,20160505,2016,5,5,61,60,0.0,0.0,2,937,9,3.0,2.0,1,3,2,12,201618
1,1,1862,20151027,2015,10,27,4,4,0.0,0.0,2,937,9,3.0,2.0,1,3,2,12,201544
2,3043,1862,20160621,2016,6,21,80,79,0.0,0.0,2,937,9,3.0,2.0,1,3,2,12,201625
3,3044,1862,20150705,2015,7,5,1,1,0.0,0.0,2,937,9,3.0,2.0,1,3,2,12,201527
4,5995,1862,20160130,2016,1,30,114,109,0.0,0.0,2,937,9,3.0,2.0,1,3,2,12,20164

In [79]:
tmp['time'].max()

20161031

In [86]:
x=tmp[(tmp['time']<=20161030)&(tmp['time']>=20161017)].sort(["time"],ascending=True)

/Users/yuyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [90]:
list(x['pay_count'])

[41, 49, 46, 45, 59, 107, 117, 40, 41, 30, 49, 60, 83, 85]

In [95]:
'1862'+','+str(list(x['pay_count'])).replace('[','').replace(']','')

'1862,41, 49, 46, 45, 59, 107, 117, 40, 41, 30, 49, 60, 83, 85'

In [96]:
tmp=''
for i in list(x['pay_count']):
    tmp=tmp+','+str(i)

In [97]:
tmp

',41,49,46,45,59,107,117,40,41,30,49,60,83,85'

In [100]:
tmp=train_all[(train_all['time']<=20161030)&(train_all['time']>=20161017)].reset_index()

In [101]:
tmp.head()

,index,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name,week_of_year
0,15,1780,20161025,2016,10,25,89,84,11.0,10.0,33,553,17,4.0,0.0,1,5,16,30,201643
1,29,983,20161027,2016,10,27,69,64,5.0,5.0,13,222,5,1.0,1.0,0,3,3,25,201643
2,31,1720,20161024,2016,10,24,190,182,15.0,15.0,40,155,10,2.0,13.0,1,3,1,28,201643
3,54,1883,20161023,2016,10,23,92,92,102.0,78.0,91,63,20,4.0,3.0,2,3,10,17,201642
4,56,1016,20161020,2016,10,20,64,61,4.0,3.0,34,786,19,3.0,0.0,0,3,3,25,201642

In [105]:
tmp['time'][1]

20161027

In [110]:
shop_id=train_all['shop_id']

In [113]:
shop_id.shape

(2000,)

In [116]:
train_all.shape

(599275, 19)

In [115]:
shop_id.shape

(2000,)

In [117]:
s_id=shop_id[0]

In [118]:
s_id

1862

In [125]:
t=tmp[(tmp['shop_id']==s_id)].sort(["time"]).reset_index()

/Users/yuyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [126]:
t

,level_0,index,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,...,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name,week_of_year
0,18567,398643,1862,20161017,2016,10,17,41,41,4.0,...,2,937,9,3.0,2.0,1,3,2,12,201642
1,26102,560374,1862,20161018,2016,10,18,49,49,2.0,...,2,937,9,3.0,2.0,1,3,2,12,201642
2,5751,122907,1862,20161019,2016,10,19,46,46,3.0,...,2,937,9,3.0,2.0,1,3,2,12,201642
3,13282,284808,1862,20161020,2016,10,20,45,45,1.0,...,2,937,9,3.0,2.0,1,3,2,12,201642
4,20806,446554,1862,20161021,2016,10,21,59,58,3.0,...,2,937,9,3.0,2.0,1,3,2,12,201642
5,442,9028,1862,20161022,2016,10,22,107,106,1.0,...,2,937,9,3.0,2.0,1,3,2,12,201642
6,7974,170862,1862,20161023,2016,10,23,117,115,5.0,...,2,937,9,3.0,2.0,1,3,2,12,201642
7,15514,332717,1862,20161024,2016,10,24,40,40,1.0,...,2,937,9,3.0,2.0,1,3,2,12,201643
8,23046,494504,1862,20161025,2016,10,25,41,41,1.0,...,2,937,9,3.0,2.0,1,3,2,12,201643
9,2684,57019,1862,20161026,2016,10,26,30,30,2.0,...,2,937,9,3.0,2.0,1,3,2,12,201643
10,10217,218859,1862,20161027,2016,10,27,49,48,2.0,...,2,937,9,3.0,2.0,1,3,2,12,201643
11,17747,380665,1862,20161028,2016,10,28,60,60,4.0,...,2,937,9,3.0,2.0,1,3,2,12,201643
12,25278,542408,1862,20161029,2016,10,29,83,83,3.0,...,2,937,9,3.0,2.0,1,3,2,12,201643
13,4922,104930,1862,20161030,2016,10,30,85,83,6.0,...,2,937,9,3.0,2.0,1,3,2,12,201643

In [128]:
    tmp2=''
    for i in list(t['pay_count']):
      tmp2=tmp2+','+str(i)
    out=str(s_id)+tmp2

In [129]:
out

'1862,41,49,46,45,59,107,117,40,41,30,49,60,83,85'

In [130]:
re=[]

In [131]:
re.append(out)

In [132]:
re.append(out)

In [133]:
re

['1862,41,49,46,45,59,107,117,40,41,30,49,60,83,85',
 '1862,41,49,46,45,59,107,117,40,41,30,49,60,83,85']

In [137]:
re.to_csv("../../data/dataset/feature/re_test.txt",header=False,index=False)

In [135]:
re=pd.DataFrame({'re':re})

In [136]:
re.head()

                                                 re
0  1862,41,49,46,45,59,107,117,40,41,30,49,60,83,85
1  1862,41,49,46,45,59,107,117,40,41,30,49,60,83,85

In [138]:
re=[]

In [139]:
re.append(out)

In [140]:
re.append(out)

In [141]:
re

['1862,41,49,46,45,59,107,117,40,41,30,49,60,83,85',
 '1862,41,49,46,45,59,107,117,40,41,30,49,60,83,85']

In [142]:
file=open('../../data/dataset/feature/re_test.txt','w')
file.write(str(re));
file.close()

In [144]:
file=open('../../data/dataset/feature/re_test.txt','w')
for i in re:
    file.write(i)
    file.write("\n")
file.close()

In [145]:
  print('ok')

ok

In [146]:
def list_to_file_bylines(path,list_data) :
  file=open(path,'w')
  for i in list_data:
      file.write(i)
      file.write("\n")
  file.close()
  print('ok')
list_to_file_bylines('../../data/dataset/feature/re_test.txt',re)

ok

In [148]:
re=[]
for s_id in shop_id :
    t=tmp[(tmp['shop_id']==s_id)].sort(["time"]).reset_index()
    tmp2=''
    for i in list(t['pay_count']):
      tmp2=tmp2+','+str(i)
    out=str(s_id)+tmp2
    re.append(out)

/Users/yuyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

In [150]:
list_to_file_bylines('../../data/dataset/feature/re_test.txt',re)

ok

In [151]:
real_all = pd.read_csv("../../data/dataset/feature/re_test.txt",header=None)

In [155]:
real_all.head()

,shop_id,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,day_10,day_11,day_12,day_13,day_14
0,1862,41.0,49.0,46.0,45.0,59.0,107.0,117.0,40.0,41.0,30.0,49.0,60.0,83.0,85.0
1,1097,37.0,41.0,33.0,45.0,45.0,50.0,46.0,41.0,33.0,39.0,44.0,59.0,43.0,60.0
2,1912,157.0,180.0,159.0,169.0,182.0,166.0,201.0,179.0,145.0,121.0,132.0,193.0,200.0,166.0
3,90,197.0,213.0,178.0,162.0,173.0,226.0,373.0,193.0,222.0,145.0,160.0,269.0,438.0,445.0
4,727,27.0,23.0,23.0,34.0,30.0,52.0,54.0,31.0,30.0,37.0,47.0,38.0,66.0,68.0

In [154]:
real_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']

In [164]:
x=list(real_all.iloc[0,1:15])

In [172]:
x[1]

49.0

In [173]:
pre_all = pd.read_csv("../../data/dataset/feature/re_test.txt",header=None)
pre_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']

In [174]:
re = pd.merge(real_all,pre_all,on='shop_id',how='left')

In [175]:
re.head()

,shop_id,day_1_x,day_2_x,day_3_x,day_4_x,day_5_x,day_6_x,day_7_x,day_8_x,day_9_x,...,day_5_y,day_6_y,day_7_y,day_8_y,day_9_y,day_10_y,day_11_y,day_12_y,day_13_y,day_14_y
0,1862,41.0,49.0,46.0,45.0,59.0,107.0,117.0,40.0,41.0,...,59.0,107.0,117.0,40.0,41.0,30.0,49.0,60.0,83.0,85.0
1,1097,37.0,41.0,33.0,45.0,45.0,50.0,46.0,41.0,33.0,...,45.0,50.0,46.0,41.0,33.0,39.0,44.0,59.0,43.0,60.0
2,1912,157.0,180.0,159.0,169.0,182.0,166.0,201.0,179.0,145.0,...,182.0,166.0,201.0,179.0,145.0,121.0,132.0,193.0,200.0,166.0
3,90,197.0,213.0,178.0,162.0,173.0,226.0,373.0,193.0,222.0,...,173.0,226.0,373.0,193.0,222.0,145.0,160.0,269.0,438.0,445.0
4,727,27.0,23.0,23.0,34.0,30.0,52.0,54.0,31.0,30.0,...,30.0,52.0,54.0,31.0,30.0,37.0,47.0,38.0,66.0,68.0

In [176]:
shop_id=real_all['shop_id']

In [178]:
s_id=shop_id[0]

In [179]:
s_id

1862

In [180]:
real_all[(real_all['shop_id']==s_id)]

,shop_id,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,day_10,day_11,day_12,day_13,day_14
0,1862,41.0,49.0,46.0,45.0,59.0,107.0,117.0,40.0,41.0,30.0,49.0,60.0,83.0,85.0

In [186]:
real_all[(real_all['shop_id']==s_id)].iloc[0:,1:15]

,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,day_10,day_11,day_12,day_13,day_14
0,41.0,49.0,46.0,45.0,59.0,107.0,117.0,40.0,41.0,30.0,49.0,60.0,83.0,85.0

In [188]:
list(real_all[(real_all['shop_id']==s_id)].iloc[0,1:15])

[41.0,
 49.0,
 46.0,
 45.0,
 59.0,
 107.0,
 117.0,
 40.0,
 41.0,
 30.0,
 49.0,
 60.0,
 83.0,
 85.0]

In [190]:
x=list(pre_all[(pre_all['shop_id']==s_id)].iloc[0,1:15])

In [193]:
abs(-2)

2

In [194]:
y[1]

49.0

In [195]:
def shop_id_sum(rel_list,pre_list) :
  tmp_sum=0.0
  for i in xrange(len(rel_list)):
      tmp_sum=tmp_sum+abs((pre_list[i]-rel_list[i])/(pre_list[i]+rel_list[i]))
  tmp_sum

In [200]:
t=shop_id_sum(x,y)

In [199]:
def shop_id_sum(rel_list,pre_list) :
  tmp_sum=0.0
  for i in xrange(len(rel_list)):
      tmp_sum=tmp_sum+abs((pre_list[i]-rel_list[i])/(pre_list[i]+rel_list[i]))
  return tmp_sum

In [201]:
t

0.0

In [202]:
def shop_id_sum(rel_list,pre_list) :
  tmp_sum=0.0
  for i in xrange(len(rel_list)):
      tmp_sum=tmp_sum+abs((pre_list[i]-rel_list[i])/(pre_list[i]+rel_list[i]))
  return tmp_sum
sum1=0.0
for s_id in shop_id:
    x=list(real_all[(real_all['shop_id']==s_id)].iloc[0,1:15])
    y=list(pre_all[(pre_all['shop_id']==s_id)].iloc[0,1:15])
    sum1=sum1+shop_id_sum(x,y)

In [212]:
def shop_id_sum(rel_list,pre_list) :
  tmp_sum=0.0
  for i in xrange(len(rel_list)):
      if (rel_list[i]==0.0) & (pre_list[i]==0.0):
         tmp_sum=tmp_sum+abs((pre_list[i]-rel_list[i])/(pre_list[i]+rel_list[i]))
      else :
         tmp_sum=tmp_sum+0.0
  return tmp_sum

In [205]:
s_id

1613

In [213]:
sum1=[]
for s_id in shop_id:
    x=list(real_all[(real_all['shop_id']==s_id)].iloc[0,1:15])
    y=list(pre_all[(pre_all['shop_id']==s_id)].iloc[0,1:15])
    # sum1=sum1+shop_id_sum(x,y)
    sum1.append(shop_id_sum(x,y))

In [215]:
sum(sum1)

0.0

In [216]:
error=0.0
shop_id_error=[]
for s_id in shop_id:
    x=list(real_all[(real_all['shop_id']==s_id)].iloc[0,1:15])
    y=list(pre_all[(pre_all['shop_id']==s_id)].iloc[0,1:15])
    shop_id_error.append(shop_id_sum(x,y))
    error=error+shop_id_sum(x,y)

In [217]:
error

0.0

In [219]:
err=pd.DataFrame({'error':shop_id_error})
re_tail=pd.concat([shop_id,err],axis=1)

In [220]:
re_tail.head()

   shop_id  error
0     1862    0.0
1     1097    0.0
2     1912    0.0
3       90    0.0
4      727    0.0

In [223]:
re=error/(len(shop_id)*14)
print(re)

0.0

In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
#评测开始
real_all = pd.read_csv("../../data/dataset/feature/re_test.txt",header=None)
real_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']
pre_all = pd.read_csv("../../data/dataset/feature/re_test.txt",header=None)
pre_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']
# re = pd.merge(real_all,pre_all,on='shop_id',how='left')
shop_id=real_all['shop_id']
def shop_id_sum(rel_list,pre_list) :
  tmp_sum=0.0
  for i in xrange(len(rel_list)):
      if (rel_list[i] !=0.0) & (pre_list[i] !=0.0):
         tmp_sum=tmp_sum+abs((pre_list[i]-rel_list[i])/(pre_list[i]+rel_list[i]))
      else :
         tmp_sum=tmp_sum+0.0
  return tmp_sum
error=0.0
shop_id_error=[]
for s_id in shop_id:
    x=list(real_all[(real_all['shop_id']==s_id)].iloc[0,1:15])
    y=list(pre_all[(pre_all['shop_id']==s_id)].iloc[0,1:15])
    shop_id_error.append(shop_id_sum(x,y))
    error=error+shop_id_sum(x,y)
re=error/(len(shop_id)*14)
print(re)
err=pd.DataFrame({'error':shop_id_error})
re_tail=pd.concat([shop_id,err],axis=1)
# 按误差大小排序
# re_tail.sort(['error'])

/Users/yuyin/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

nan

In [3]:
error

nan

In [4]:
(len(shop_id)*14)

28000

In [17]:
import pandas as pd
#评测开始
real_all = pd.read_csv("../../data/dataset/feature/stltest",header=None)
real_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']
pre_all = pd.read_csv("../../data/dataset/feature/stlpre",header=None)
pre_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']

In [18]:
real_all.head()

,shop_id,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,day_10,day_11,day_12,day_13,day_14
0,1,207,244,177,207,230,202,243,216,255,172,226,257,251,281
1,2,61,155,143,78,8,0,0,0,0,0,0,0,0,0
2,3,75,59,71,88,103,127,125,47,80,61,68,103,102,104
3,4,89,90,112,59,80,211,221,81,90,104,55,110,215,196
4,5,274,201,210,221,187,161,240,454,302,1,215,203,291,0

In [19]:
shop_id=real_all['shop_id']
def shop_id_sum(rel_list,pre_list) :
  tmp_sum=0.0
  for i in xrange(len(rel_list)):
      if (rel_list[i] !=0.0) & (pre_list[i] !=0.0):
         tmp_sum=tmp_sum+abs((pre_list[i]-rel_list[i])/(pre_list[i]+rel_list[i]))
      else :
         tmp_sum=tmp_sum+0.0
  return tmp_sum
error=0.0
shop_id_error=[]
for s_id in shop_id:
    x=list(real_all[(real_all['shop_id']==s_id)].iloc[0,1:15])
    y=list(pre_all[(pre_all['shop_id']==s_id)].iloc[0,1:15])
    shop_id_error.append(shop_id_sum(x,y))
    error=error+shop_id_sum(x,y)
re=error/(len(shop_id)*14)
print(re)

0.12140080638

In [20]:
err=pd.DataFrame({'error':shop_id_error})
re_tail=pd.concat([shop_id,err],axis=1)

In [24]:
real_all = pd.read_csv("../../data/dataset/feature/re_test.txt",header=None)
real_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']

In [28]:
shop_id=real_all['shop_id']
def shop_id_sum(rel_list,pre_list) :
  tmp_sum=0.0
  for i in xrange(len(rel_list)):
      if (rel_list[i] !=0.0) & (pre_list[i] !=0.0):
         tmp_sum=tmp_sum+abs((pre_list[i]-rel_list[i])/(pre_list[i]+rel_list[i]))
      else :
         tmp_sum=tmp_sum+0.0
  return tmp_sum
error=0.0
shop_id_error=[]
for s_id in shop_id:
    x=list(real_all[(real_all['shop_id']==s_id)].iloc[0,1:15])
    y=list(pre_all[(pre_all['shop_id']==s_id)].iloc[0,1:15])
    shop_id_error.append(shop_id_sum(x,y))
    error=error+shop_id_sum(x,y)
re=error/(len(shop_id)*14)
print(re)

nan

In [30]:
err=pd.DataFrame({'error':shop_id_error})

In [31]:
err[pd.isnull(err['error'])].head()

     error
155    NaN
236    NaN
304    NaN
306    NaN
336    NaN

In [34]:
real_all.iloc[155,1:15]

day_1     21.0
day_2     28.0
day_3     26.0
day_4     17.0
day_5     11.0
day_6      NaN
day_7      NaN
day_8      NaN
day_9      NaN
day_10     NaN
day_11     NaN
day_12     NaN
day_13     NaN
day_14     NaN
Name: 155, dtype: float64

In [35]:
real_all=real_all.fillna(0)

In [36]:
def shop_id_sum(rel_list,pre_list) :
  tmp_sum=0.0
  for i in xrange(len(rel_list)):
      if (rel_list[i] !=0.0) & (pre_list[i] !=0.0):
         tmp_sum=tmp_sum+abs((pre_list[i]-rel_list[i])/(pre_list[i]+rel_list[i]))
      else :
         tmp_sum=tmp_sum+0.0
  return tmp_sum
error=0.0
shop_id_error=[]
for s_id in shop_id:
    x=list(real_all[(real_all['shop_id']==s_id)].iloc[0,1:15])
    y=list(pre_all[(pre_all['shop_id']==s_id)].iloc[0,1:15])
    shop_id_error.append(shop_id_sum(x,y))
    error=error+shop_id_sum(x,y)
re=error/(len(shop_id)*14)
print(re)

0.121421330594

In [37]:
real_all.head()

,shop_id,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,day_10,day_11,day_12,day_13,day_14
0,1862,41.0,49.0,46.0,45.0,59.0,107.0,117.0,40.0,41.0,30.0,49.0,60.0,83.0,85.0
1,1097,37.0,41.0,33.0,45.0,45.0,50.0,46.0,41.0,33.0,39.0,44.0,59.0,43.0,60.0
2,1912,157.0,180.0,159.0,169.0,182.0,166.0,201.0,179.0,145.0,121.0,132.0,193.0,200.0,166.0
3,90,197.0,213.0,178.0,162.0,173.0,226.0,373.0,193.0,222.0,145.0,160.0,269.0,438.0,445.0
4,727,27.0,23.0,23.0,34.0,30.0,52.0,54.0,31.0,30.0,37.0,47.0,38.0,66.0,68.0

In [ ]:
import pandas as pd
train_all = pd.read_csv("../../data/dataset/feature/train_all.txt",header=None)
train_all.columns=['shop_id','time','year','mouth','day','pay_count','pay_user_count','view_count','view_user_count','city_name','location_id','per_pay','score','comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name']

tmp=train_all[(train_all['time']<=20161031)&(train_all['time']>=20161018)].reset_index()
shop_id=train_all['shop_id']
re=[]
for s_id in shop_id :
    t=tmp[(tmp['shop_id']==s_id)].sort(["time"]).reset_index()
    tmp2=''
    for i in list(t['pay_count']):
      tmp2=tmp2+','+str(i)
    out=str(s_id)+tmp2
    re.append(out)

#list每个元素按行写入文本
def list_to_file_bylines(path,list_data) :
  file=open(path,'w')
  for i in list_data:
      file.write(i)
      file.write("\n")
  file.close()
  print('ok')

list_to_file_bylines('../../data/dataset/feature/re_test.txt',re)

/Users/yuyin/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)
/Users/yuyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:9: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [ ]:
real_all = pd.read_csv("../../data/dataset/feature/re_test.txt",header=None)
real_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']
pre_all = pd.read_csv("../../data/dataset/feature/re_test.txt",header=None)
pre_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']

#缺失值填充
real_all=real_all.fillna(0)
real_all=pre_all.fillna(0)

In [ ]:
real_all.to_csv("../../data/dataset/feature/test_27_31.txt",header=False,index=False)

In [1]:
import pandas as pd
#构建预测集合
train_all = pd.read_csv("../../data/dataset/feature/train_all.txt",header=None)
train_all.columns=['shop_id','time','year','mouth','day','pay_count','pay_user_count','view_count','view_user_count','city_name','location_id','per_pay','score','comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name']

/Users/yuyin/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
tmp=train_all[(train_all['time']<=20161031)&(train_all['time']>=20161018)].reset_index()
shop_id=train_all['shop_id']
re=[]

In [7]:
shop_id=train_all['shop_id']

In [10]:
train_all.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,0.0,0.0,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
1,1862,20151027,2015,10,27,4,4,0.0,0.0,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
2,1097,20151209,2015,12,9,19,18,0.0,0.0,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
3,1097,20160325,2016,3,25,36,34,0.0,0.0,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
4,1912,20151022,2015,10,22,87,82,0.0,0.0,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐

In [11]:
re=[]

#执行很慢--暂时未处理
for s_id in shop_id :
    t=tmp[(tmp['shop_id']==s_id)].sort(["time"]).reset_index()
    tmp2=''
    for i in list(t['pay_count']):
      tmp2=tmp2+','+str(i)
    out=str(s_id)+tmp2
    re.append(out)

/Users/yuyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [12]:
def list_to_file_bylines(path,list_data) :
  file=open(path,'w')
  for i in list_data:
      file.write(i)
      file.write("\n")
  file.close()
  print('ok')

list_to_file_bylines('../../data/dataset/feature/re_test.txt',re)

ok

In [13]:
real_all = pd.read_csv("../../data/dataset/feature/re_test.txt",header=None)
real_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']
pre_all = pd.read_csv("../../data/dataset/feature/re_test.txt",header=None)
pre_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']

#缺失值填充
real_all=real_all.fillna(0)
real_all=pre_all.fillna(0)

In [14]:
real_all.to_csv("../../data/dataset/feature/test_27_31.txt",header=False,index=False)

In [15]:
shop_id=real_all['shop_id']
def shop_id_sum(rel_list,pre_list) :
  tmp_sum=0.0
  for i in xrange(len(rel_list)):
      if (rel_list[i] !=0.0) & (pre_list[i] !=0.0):
         tmp_sum=tmp_sum+abs((pre_list[i]-rel_list[i])/(pre_list[i]+rel_list[i]))
      else :
         tmp_sum=tmp_sum+0.0
  return tmp_sum
error=0.0
shop_id_error=[]
for s_id in shop_id:
    x=list(real_all[(real_all['shop_id']==s_id)].iloc[0,1:15])
    y=list(pre_all[(pre_all['shop_id']==s_id)].iloc[0,1:15])
    shop_id_error.append(shop_id_sum(x,y))
    error=error+shop_id_sum(x,y)
re=error/(len(shop_id)*14)
print(re)
err=pd.DataFrame({'error':shop_id_error})
re_tail=pd.concat([shop_id,err],axis=1)

0.0

In [20]:
real_all=real_all.sort(['shop_id'],ascending=True)
real_all.to_csv("../../data/dataset/feature/test_27_31.txt",header=False,index=False)

/Users/yuyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [1]:
import pandas as pd
shop_info = pd.read_csv("../../data/dataset/shop_info.txt",header=None)
shop_info.columns=['shop_id','city_name','location_id','per_pay','score','comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name']
user_pay = pd.read_csv("../../data//dataset/feature/商家每天支付的支付次数.txt",header=None)
user_pay.columns=['shop_id','time','year','mouth','day','pay_count']
user_pay2 = pd.read_csv("../../data//dataset/feature/商家每天支付的用户个数.txt",header=None)
user_pay2.columns=['shop_id','time','year','mouth','day','pay_user_count']
user_view = pd.read_csv("../../data//dataset/feature/商家每天浏览的浏览次数.txt",header=None)
user_view.columns=['shop_id','time','year','mouth','day','view_count']
user_view2 = pd.read_csv("../../data//dataset/feature/商家每天浏览的用户人数.txt",header=None)
user_view2.columns=['shop_id','time','year','mouth','day','view_user_count']

/Users/yuyin/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
user_pay.head()

   shop_id      time  year  mouth  day  pay_count
0     1862  20160505  2016      5    5         61
1     1862  20151027  2015     10   27          4
2     1097  20151209  2015     12    9         19
3     1097  20160325  2016      3   25         36
4     1912  20151022  2015     10   22         87

In [3]:
user_pay_all = pd.merge(user_pay,user_pay2,on=['shop_id','time','year','mouth','day'],how='left')
user_view_all= pd.merge(user_view,user_view2,on=['shop_id','time','year','mouth','day'],how='left')

In [19]:
user_pay_all['time'].max()

20161031

In [6]:
shop_id = user_pay_all['shop_id']

In [7]:
shop_id.shape

(599275,)

In [8]:
shop_id = shop_id.drop_duplicates()

In [9]:
shop_id.shape

(2000,)

In [10]:
shop_id.head()

0     1862
2     1097
4     1912
7       90
10     727
Name: shop_id, dtype: int64

In [12]:
s_id=shop_id[0]

In [13]:
s_id

1862

In [14]:
tmp=user_pay_all[(user_pay_all['shop_id']==s_id)]

In [16]:
time_set=set(tmp['time'])

In [25]:
import datetime

def datelist(start, end):
    start_date = datetime.date(*start)
    end_date = datetime.date(*end)

    result = []
    curr_date = start_date
    while curr_date != end_date:
        ymd="%04d%02d%02d" % (curr_date.year, curr_date.month, curr_date.day)
        result.append(int(ymd))
        curr_date += datetime.timedelta(1)
    result.append(int(ymd))
    return result

In [26]:
datelist((2014, 7, 28), (2014, 8, 3))

[20140728, 20140729, 20140730, 20140731, 20140801, 20140802, 20140802]

In [27]:
alltime_set=set(datelist((2016, 7, 1), (2016, 10, 31)))

In [29]:
cha=alltime_set-time_set

In [30]:
cha

{20160801}

In [31]:
tmp.head()

      shop_id      time  year  mouth  day  pay_count  pay_user_count
0        1862  20160505  2016      5    5         61              60
1        1862  20151027  2015     10   27          4               4
3043     1862  20160621  2016      6   21         80              79
3044     1862  20150705  2015      7    5          1               1
5995     1862  20160130  2016      1   30        114             109

In [32]:
for c in cha:
    print c

20160801

In [37]:
int(str(c)[6:8])

1

In [38]:
add_01=[]
add_02=[]
add_03=[]
add_04=[]
add_05=[]
add_06=[]
add_07=[]

In [39]:
    for c in cha :
      add_01.append(s_id)
      add_02.append(c)
      add_03.append(int(str(c)[0:4]))
      add_04.append(int(str(c)[4:6]))
      add_05.append(int(str(c)[6:8]))
      add_06.append(0)
      add_07.append(0)

In [40]:
pd.DataFrame({'shop_id':add_01,'time':add_02})

   shop_id      time
0     1862  20160801

In [41]:
add_all=pd.DataFrame({'shop_id':add_01,'time':add_02,'year':add_03,'mouth':add_04,'day':add_05,'pay_count':add_06,'pay_user_count':add_07})

In [42]:
add_all

   day  mouth  pay_count  pay_user_count  shop_id      time  year
0    1      8          0               0     1862  20160801  2016

In [44]:
y=user_pay_all.head()

In [45]:
y

   shop_id      time  year  mouth  day  pay_count  pay_user_count
0     1862  20160505  2016      5    5         61              60
1     1862  20151027  2015     10   27          4               4
2     1097  20151209  2015     12    9         19              18
3     1097  20160325  2016      3   25         36              34
4     1912  20151022  2015     10   22         87              82

In [50]:
pd.concat([x,y])

   shop_id      time  year  mouth  day  pay_count  pay_user_count
0     1862  20160801  2016      8    1          0               0
0     1862  20160505  2016      5    5         61              60
1     1862  20151027  2015     10   27          4               4
2     1097  20151209  2015     12    9         19              18
3     1097  20160325  2016      3   25         36              34
4     1912  20151022  2015     10   22         87              82

In [48]:
columns = ['shop_id','time','year','mouth','day','pay_count','pay_user_count']
x=add_all.ix[:,columns]

In [49]:
x

   shop_id      time  year  mouth  day  pay_count  pay_user_count
0     1862  20160801  2016      8    1          0               0

In [51]:
add_01=[]
add_02=[]
add_03=[]
add_04=[]
add_05=[]
add_06=[]
add_07=[]
for s_id in shop_id :
    tmp=user_pay_all[(user_pay_all['shop_id']==s_id)]
    time_set=set(tmp['time'])
    cha=alltime_set-time_set
    for c in cha :
      add_01.append(s_id)
      add_02.append(c)
      add_03.append(int(str(c)[0:4]))
      add_04.append(int(str(c)[4:6]))
      add_05.append(int(str(c)[6:8]))
      add_06.append(0)
      add_07.append(0)

In [52]:
add_all=pd.DataFrame({'shop_id':add_01,'time':add_02,'year':add_03,'mouth':add_04,'day':add_05,'pay_count':add_06,'pay_user_count':add_07})
columns = ['shop_id','time','year','mouth','day','pay_count','pay_user_count']
add_all=add_all.ix[:,columns]

In [54]:
add_all.head()

   shop_id      time  year  mouth  day  pay_count  pay_user_count
0     1862  20160801  2016      8    1          0               0
1     1097  20160912  2016      9   12          0               0
2     1097  20160913  2016      9   13          0               0
3     1097  20160914  2016      9   14          0               0
4     1097  20160915  2016      9   15          0               0

In [55]:
user_pay_all=pd.concat([user_pay_all,add_all])

In [56]:
user_pay_all.head()

   shop_id      time  year  mouth  day  pay_count  pay_user_count
0     1862  20160505  2016      5    5         61              60
1     1862  20151027  2015     10   27          4               4
2     1097  20151209  2015     12    9         19              18
3     1097  20160325  2016      3   25         36              34
4     1912  20151022  2015     10   22         87              82

In [57]:
train_view = pd.merge(user_view_all,shop_info,on=['shop_id'],how='left')
train_pay = pd.merge(user_pay_all,shop_info,on=['shop_id'],how='left')

train_all =pd.merge(user_pay_all,user_view_all,on=['shop_id','time','year','mouth','day'],how='left')

In [59]:
train_all.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count
0,1862,20160505,2016,5,5,61,60,NaN,NaN
1,1862,20151027,2015,10,27,4,4,NaN,NaN
2,1097,20151209,2015,12,9,19,18,NaN,NaN
3,1097,20160325,2016,3,25,36,34,NaN,NaN
4,1912,20151022,2015,10,22,87,82,NaN,NaN

In [60]:
train_all_2=pd.merge(train_all,shop_info,on=['shop_id'],how='left')

In [61]:
train_all_2[pd.isnull(train_all_2["view_count"])].head()
#view_count 填充为0
train_all_2["view_count"]=train_all_2["view_count"].fillna(0)  #填充缺失值
#view_user_count
train_all_2["view_user_count"]=train_all_2["view_user_count"].fillna(0)  #填充缺失值
#score  评分 填充为均值？ 某类均值？ round(a,1) 保留小数点后1位
tmp=round(train_all_2[-pd.isnull(train_all_2["score"])]["score"].mean(),1)
train_all_2["score"]=train_all_2["score"].fillna(tmp)
#comment_cnt 评论数 填充为均值？ 某门店等级一级品类名称二级分类名称的均值？
tmp=round(train_all_2[-pd.isnull(train_all_2["comment_cnt"])]["comment_cnt"].mean(),1)
train_all_2["comment_cnt"]=train_all_2["comment_cnt"].fillna(tmp)
#cate_3_name 三级分类名称 标记为缺失
tmp="缺失"
train_all_2["cate_3_name"]=train_all_2["cate_3_name"].fillna(tmp)

In [62]:
train_all_2.to_csv("../../data/dataset/feature/train_all.txt",header=False,index=False)

In [63]:
import pandas as pd
#评测开始
real_all = pd.read_csv("../../data/dataset/feature/test_18_31.txt",header=None)
pre_all = pd.read_csv("../../data/dataset/feature/two_18_31.txt",header=None)

real_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']
pre_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']
# re = pd.merge(real_all,pre_all,on='shop_id',how='left')
shop_id=real_all['shop_id']
def shop_id_sum(rel_list,pre_list) :
  tmp_sum=0.0
  for i in xrange(len(rel_list)):
      if (rel_list[i] !=0.0) & (pre_list[i] !=0.0):
         tmp_sum=tmp_sum+abs((pre_list[i]-rel_list[i])/(pre_list[i]+rel_list[i]))
      else :
         tmp_sum=tmp_sum+0.0
  return tmp_sum
error=0.0
shop_id_error=[]
for s_id in shop_id:
    x=list(real_all[(real_all['shop_id']==s_id)].iloc[0,1:15])
    y=list(pre_all[(pre_all['shop_id']==s_id)].iloc[0,1:15])
    shop_id_error.append(shop_id_sum(x,y))
    error=error+shop_id_sum(x,y)
re=error/(len(shop_id)*14)
print(re)

0.13814586348

In [1]:
import pandas as pd
#评测开始
real_all = pd.read_csv("../../data/dataset/feature/real_18_31.txt",header=None)
pre_all = pd.read_csv("../../data/dataset/feature/meanpre.txt",header=None)

real_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']
pre_all.columns=['shop_id','day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']
# re = pd.merge(real_all,pre_all,on='shop_id',how='left')
shop_id=real_all['shop_id']
def shop_id_sum(rel_list,pre_list) :
  tmp_sum=0.0
  for i in xrange(len(rel_list)):
      if (rel_list[i] !=0.0) & (pre_list[i] !=0.0):
         tmp_sum=tmp_sum+abs((pre_list[i]-rel_list[i])/(pre_list[i]+rel_list[i]))
      else :
         tmp_sum=tmp_sum+0.0
  return tmp_sum
error=0.0
shop_id_error=[]
for s_id in shop_id:
    x=list(real_all[(real_all['shop_id']==s_id)].iloc[0,1:15])
    y=list(pre_all[(pre_all['shop_id']==s_id)].iloc[0,1:15])
    shop_id_error.append(shop_id_sum(x,y))
    error=error+shop_id_sum(x,y)
re=error/(len(shop_id)*14)
print(re)

/Users/yuyin/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

0.661107142857

In [2]:
err=pd.DataFrame({'error':shop_id_error})
re_tail=pd.concat([shop_id,err],axis=1)
# 按误差大小排序
re_tail.sort(['error'],ascending=False)

/Users/yuyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

      shop_id  error
1000      315   14.0
522      1549   14.0
525      1221   14.0
526       135   14.0
1505       64   14.0
533      1791   14.0
1489      788   14.0
544       389   14.0
545      1766   14.0
547        46   14.0
550        13   14.0
1484      742   14.0
552       905   14.0
1481      334   14.0
561       161   14.0
563      1149   14.0
1468      579   14.0
523      1783   14.0
519       977   14.0
1355      768   14.0
518       751   14.0
493      1677   14.0
494      1351   14.0
1519      486   14.0
497      1799   14.0
1518      611   14.0
499      1578   14.0
501       989   14.0
503       162   14.0
504      1391   14.0
...       ...    ...
667       216    0.0
954      1431    0.0
952      1548    0.0
146       125    0.0
1048        8    0.0
1084     1520    0.0
1847      914    0.0
155       659    0.0
1923     1563    0.0
619      1703    0.0
73        222    0.0
1829      749    0.0
169       266    0.0
683       956    0.0
1324     1156    0.0
685       684    0.0
193       525    0.0
919       474    0.0
1451      411    0.0
621      1918    0.0
697       632    0.0
227      1164    0.0
1725     1103    0.0
47        855    0.0
873      1202    0.0
276        16    0.0
1033     1510    0.0
871       238    0.0
863      1581    0.0
1122      704    0.0

[2000 rows x 2 columns]

In [3]:
x=[128,134,129,126,131,135,124,128,134,129,126,131,135,124]

In [4]:
y=[172,156,154,163,134,167,165,176,167,166,158,218,179,168]

In [7]:
for i in xrange(len(x)):
    print (x[i]-y[i])
    print (x[i]+y[i])
    print((x[i]-y[i])/(x[i]+y[i]))

-44
300
-1
-22
290
-1
-25
283
-1
-37
289
-1
-3
265
-1
-32
302
-1
-41
289
-1
-48
304
-1
-33
301
-1
-37
295
-1
-32
284
-1
-87
349
-1
-44
314
-1
-44
292
-1

In [9]:
44.0/300.0

0.14666666666666667

In [10]:
-44/300

-1

In [15]:
real_all[['day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']]=real_all[['day_1','day_2','day_3','day_4','day_5','day_6','day_7','day_8','day_9','day_10','day_11','day_12','day_13','day_14']].astype(float)

In [16]:
real_all.head()

,shop_id,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,day_10,day_11,day_12,day_13,day_14
0,1862,49.0,46.0,45.0,59.0,107.0,117.0,40.0,41.0,30.0,49.0,60.0,83.0,85.0,38.0
1,1097,41.0,33.0,45.0,45.0,50.0,46.0,41.0,33.0,39.0,44.0,59.0,43.0,60.0,39.0
2,1912,180.0,159.0,169.0,182.0,166.0,201.0,179.0,145.0,121.0,132.0,193.0,200.0,166.0,140.0
3,90,213.0,178.0,162.0,173.0,226.0,373.0,193.0,222.0,145.0,160.0,269.0,438.0,445.0,189.0
4,727,23.0,23.0,34.0,30.0,52.0,54.0,31.0,30.0,37.0,47.0,38.0,66.0,68.0,38.0